{% extends 'base.html' %}  {% load static %}{% block content %}
<section class="invoice">
  {% if vehiculo %}
  <form method="post">
    {% csrf_token %}

    <h3>Desea Enviar a <strong> Lista Negra </strong> <br> <br> el Vehiculo de placa: <strong> {{ vehiculo.placa }}</strong> Marca: <strong> {{ vehiculo.marca }} </strong>  Modelo: <strong>{{ vehiculo.modelo }} </strong></h3>
    <!-- <h3>Desea Enviar a <strong> Lista Negra </strong> <br> <br> el Vehiculo de placa: <strong> {{ placas.placa }}</strong></h3> -->
    <div class="row invoice-info">
      <div class="col-sm-6 xs-12 invoice-col">
        <div class="form-group has-feedback">
          <!-- <input type="textarea" name="comentario"> -->
          <label for="{{ form.comentario.name }}">  {{ form.comentario.label }}</label> {{ form.comentario }}
          <span class="glyphicon glyphicon-cars"></span>
        </div>
      </div> 
    </div>
    
    <button id="aceptar" class="btn btn-danger" type="submit">Si, Reportar</button>
    <a class="btn btn-default" href="{% url 'consultar' %}">regresar</a>
  </form>
  {% else %}
   <h2> No existe ese registro o ya se encuentra en Lista </h2>
    {%endif%}

  {% for message in messages %}


  <div id="alerta" class="alert alert-{{ messages.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button> {{ message }}
  </div>

  {% endfor %}

</section>

{% block javascript %} {% include 'adminlte/lib/_scripts.html' %}

<script>
            $("#alerta").hide();
              $("#aceptar").click(function showAlert() {
                $("#alerta").fadeTo(2000, 500).slideUp(500, function(){
                  $("#alerta").slideUp(500);
              });  
            });

</script>

{% endblock %} {% endblock %}